.packpinLogo{
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 10px;
}

img.cs_banner {
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.planInfo {
    width: 700px;
    display: table;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    margin: 15px 0;
}

.planInfo > div{
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
    padding: 12px;
    border-right: 1px solid rgba(0,0,0,.15);
    text-align: center;
}

.planInfo > div > h3{
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 13px;
    color: #444;
    text-transform: uppercase;
}


.planInfo > div > span{
    font-size: 24px;
    font-weight: bold;
    color: #23282d;
}

.planInfo > div > span.usedUp {
    color: #E6332A;
    font-size: 25px;
}

.planInfo > div:last-child{
    border-right: none;
}

.planInfo .extra a {
    -webkit-appearance: none;
    outline: 0!important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 14px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 20px;
    line-height: 1.52857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #E6332A;
    border-color: #E6332A;
    text-decoration: none;
    margin-top: 5px;
}

.planInfo .extra a:hover{
    color: #fff;
    background-color: #961418;
    border-color: #961418;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.bigNotice {
    border: 1px solid #E6332A;
    background-color: #E6332A;
    width: 700px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.bigNotice span {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

a.clear-pp-cache.loading {
    color: #000;
    pointer-events: none;
}

@media (max-width: 768px) {
    .planInfo, .bigNotice {
        width: 100%;
    }

    select.carrierSelect {
        height: 150px !important;
    }
}